.header {
    position: relative;
	top: 0px;
	width: 100vw;
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
	z-index: 1;
}

.main-header {
    display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	width: 85%;
	margin: 0 auto;
}

.logo-wrapper {
    text-decoration: none;
	display: flex;
	align-items: center;
}

.logo-img {
    max-width: 4rem;
}

.logo-title {
    max-width: 8rem;
	font-size: 1.125rem;
	line-height: 1.5rem;
	font-weight: 700;
	color: var(--primary-color);
}