/* Container principal */
.page-box { 
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: white;
    margin: 0;
    padding: 0;
}

/* Coluna do Formulário */
.register-box {
    width: 45%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    padding-top: 5vh; 
    align-items: center;
    z-index: 2;
}

.register-wrapper {
    width: 100%;
    max-width: 380px;
    padding: 1rem 2rem;
}

.auth-title {
    font-family: 'Courier New', monospace;
    color: var(--secondary-color);
    font-weight: 600; 
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    text-align: left;
    width: 100%;
}

.input-group {
    margin-bottom: 0.8rem;
}

.form-login label {
    font-size: 0.85rem;
    font-weight: bold;
}

.form-login input, .form-login select {
    height: 38px;
    margin-top: 4px;
}

.img-box {
    width: 60%; 
    height: 100%;
    background-color: #d31919;
    position: relative;
    margin-left: -5vw; 
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.img-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/popcorn.png');
    background-size: 70px;
    background-repeat: repeat;
    
    filter: 
        brightness(0) 
        saturate(100%) 
        invert(85%) 
        sepia(67%) 
        saturate(2500%) 
        hue-rotate(10deg) 
        contrast(120%)
        drop-shadow(1px 1px 0px rgba(0,0,0,0.3));
}

/* Botão Finalizar */
button[type="submit"] {
    width: 100%;
    height: 42px;
    background-color: #ccc; 
    color: #666;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    margin-top: 1.5rem;
    cursor: pointer;
}

button[type="submit"]:not(:disabled) {
    background-color: var(--secondary-color);
    color: white;
}

.form-row {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.form-col {
    flex: 1; 
    display: flex;
    flex-direction: column;
}